/*body*/
body, html {
    background-color: rgb(150, 8, 64);
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logoName{
    margin-top: 10px;
    width: 20%;
    height: 100%;
}

#logo{
    margin-top: 30px;
    width: 10%;
    height: 10%;
}

.width100 {
    width: 100%;
}

.container {
    width: 430px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    position: absolute;
    background-color: white;
}

/*text*/
.login-title{
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

#name{
    text-align: center;
    color: aliceblue;
    margin-top: 100px;
}
.welcome{
    font-size: 24px;
    color: #fff;
    margin-top: 40px;
}
.write-login{
        font-size: 16px;
        color:#fff;
}

/*inputs*/
.icon {
    width: 25px;
    height: 25px;
}
.margin-input{
    margin-top: 5px;
}

.input-container {
    width: 100%;
    height: 54px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 25px;
    border-radius: 12px;
}

.input-container > input{
    border: none;

    height: 100%;
    width: calc(100% - 20px - 2px - 20px)
}

.input-container input:focus{
    outline: none;
}

.input-icon {
    width: 20px;
}

.input-divider {
    height: 70%;
    width: 2px;

    margin: 0 10px;

    background-color: rgba(0, 0, 0, 0.2);
}

/*buttons*/
.button-container{
    display: flex;
    flex-direction: column;

}

.button-sign-in {
    width: 200px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button-sign-in:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.8);
    color: #fff;
}

.button-register {
    width: 200px;
    background-color: transparent;
    border: 2px solid #fff;

    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.registerA {
    color: #fff;
}

.button-register:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.8);
    color: #fff;
}
.divider-button{
    margin-top: 10px;
}

.question{
    margin-top: 10px;
    color:#fff
}